<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    — mellistea, {{ "now" | date: "%Y" }} | <a href="https://t.me/mellistea_room" target="_blank">тгк</a>, <a href="https://ficbook.net/authors/01960589-0983-7c59-afb3-fa4605ffe9b7" target="_blank">фикбук</a>
  </footer>
</body>
</html>
